{% extends 'FsbAlfredDashboardBundle::sidebar.html.twig' %}

{% form_theme form 'FsbAlfredDashboardBundle:Form:bootstrap.html.twig' %}

{% block site_title %}{{ app.user.carName }} - Réparations{% endblock %}

{% block content %}
    <ul class='nav nav-tabs'>
        <li class='active'><a href='#list' data-toggle='tab' class='btn btn-default'>Liste</a></li>
        <li><a href='#form' data-toggle='tab' class='btn btn-default'>Ajouter</a></li>
        <li><a href='#statistiques' data-toggle='tab' class='btn btn-default'>Statistiques</a></li>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane active table-responsive' id='list'>
            <h4>Liste des réparations{% if reparations %} <span class='pull-right'><a id='toggle-infos-lines-button' href='#'><span class='icon icon-plus-circle icon-lg'></span></a></span>{% endif %}</h4>
            <table class='table table-hover table-condensed table-bordered table-static'>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Kms</th>
                        <th>Objet</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% if reparations %}
                        {% for reparation in reparations %}
                            <tr>
                                <td>{{ reparation.createdAt|date('d-m-Y') }}</td>
                                <td>{{ reparation.kilometers }} kms</td>
                                <td>{{ reparation.object }}</td>
                                <td>{{ reparation.price|number_format(2, '.', ',') }} €</td>
                            </tr>
                            {% if loop.index > 1 %}
                                {% set price = reparation.price - reparations[loop.index0 - 1].price %}
                                {% set amount = reparation.amount - reparations[loop.index0 - 1].amount %}
                                <tr class='infos-line {% if price > 0 %}danger{% else %}success{% endif %}'>
                                    <td colspan='2'><div>Infos</div></td>
                                    <td>{{ reparation.object }}</td>
                                    <td><div>{{ (reparation.price - reparations[loop.index0 - 1].price)|number_format(2, '.', ',') }} L</div></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr class='total info'>
                            <td>Total</td>
                            {% if reparations|length > 1 %}
                                <td colspan='2'>{{ reparations|last.kilometers - reparations|first.kilometers }} kms</td>
                                <td>{{ totalAmount|number_format(2, '.', ',') }} €</td>
                            {% else %}
                                <td colspan='2'></td>
                                <td>{{ totalAmount|number_format(2, '.', ',') }} €</td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr class='active'>
                            <td colspan='4'>Aucune réparation pour le moment</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class='tab-pane' id='form'>
            <h4>Renseigner une réparation</h4>
            <form action='{{ path('fsb_alfred_dashboard_page_reparation_create') }}' method='post' {{ form_enctype(form) }}>
                <fieldset>
                    <div class='row'>
                        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                            {{ form_row(form.object) }}
                        </div>
                        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                            {{ form_row(form.price) }}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class='row'>
                        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                            {{ form_row(form.kilometers) }}
                        </div>
                        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                            {{ form_row(form.place) }}
                        </div>
                        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                            {{ form_row(form.company) }}
                        </div>
                    </div>
                    <div id='coordinates-row' class='row'>
                        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                            <div class='form-group'>
                                {{ form_label(form.latitude) }}
                                <div class='input-group'>
                                    {{ form_widget(form.latitude) }}
                                    <span class='input-group-addon'><span class='icon icon-spinner icon-spin'></span></span>
                                </div>
                                {{ form_errors(form.latitude) }}
                            </div>
                        </div>
                        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                            <div class='form-group'>
                                {{ form_label(form.longitude) }}
                                <div class='input-group'>
                                    {{ form_widget(form.longitude) }}
                                    <span class='input-group-addon'><span class='icon icon-spinner icon-spin'></span></span>
                                </div>
                                {{ form_errors(form.longitude) }}
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                </fieldset>
                <div class='form-group'>
                    <input type='submit' class='btn btn-success' name='submit' value='Ajouter' />
                </div>
            </form>
        </div>
        <div class='tab-pane' id='statistiques'>
            <h4>Statistiques</h4>
            <hr />
            <canvas id='reparation-chart' class='chart'></canvas>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/fsbalfreddashboard/js/vendor/underscore-1.6.0.min.js') }}'></script>
    <script src='{{ asset('bundles/fsbalfreddashboard/js/localised-form.min.js') }}'></script>
    <script>
        $(function () {
            $('#toggle-infos-lines-button').on('click', function () {
                $('.infos-line').toggleClass('open');
                $(this).find('.icon').toggleClass('icon-plus-circle icon-minus-circle');
            });
            var localisedForm = new LocalisedForm(function (position) {
                $('#fsb_alfred_dashboard_reparation_type_latitude').val(position.coords.latitude).prop('readonly', true);
                $('#fsb_alfred_dashboard_reparation_type_longitude').val(position.coords.longitude).prop('readonly', true);
                $('#coordinates-row').find('.icon-spin').removeClass('icon-spin icon-spinner').addClass('icon-check');
            });
        });
    </script>
    {% if reparations|length > 1 %}
        <script src='{{ asset('bundles/fsbalfreddashboard/js/vendor/chart.js') }}'></script>
        <script>
            $(function () {
                var context = $('#reparation-chart').get(0).getContext('2d'),
                    reparationChart = new Chart(context).Line({
                        'labels': [
                            {% for reparation in reparations %}
                                '{{ reparation.createdAt|date('d-m-Y') }}'{% if not loop.last %},{% endif %}
                            {% endfor %}
                        ],
                        'datasets': [
                            {
                                'label': 'Montant',
                                'fillColor': 'rgba(220,220,220,0.2)',
                                'strokeColor': 'rgba(220,220,220,1)',
                                'pointColor': 'rgba(220,220,220,1)',
                                'pointStrokeColor': '#ccc',
                                'pointHighlightFill': 'rgb(0, 0, 0)',
                                'pointHighlightStroke': 'rgba(220,220,220,1)',
                                'data': [
                                    {% for reparation in reparations %}{{ reparation.amount }}{% if not loop.last %},{% endif %}{% endfor %}
                                ]
                            }
                        ]
                    }, {
                        maintainAspectRatio: true,
                        tooltipFillColor: 'rgba(0, 0, 0, 0.95)',
                        scaleFontColor: 'rgb(255,255,255)',
                        scaleLabel: "<%=value%> €",
                        tooltipEvents: ["mousemove", "mousedown", "touchstart", "touchmove"]
                    });
            });
        </script>
    {% endif %}
{% endblock %}
