<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>{% block title %}Alfred{% endblock %}</title>
        {% block stylesheets %}
            <link rel='stylesheet' href='{{ asset('bundles/fsbalfreddashboard/css/vendor/bootstrap/bootstrap-3.2.0.min.css') }}' />
            <link rel='stylesheet' href='{{ asset('bundles/fsbalfreddashboard/css/app.min.css') }}' />
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <section id='main-container'>
                {% block navbar_wrapper %}
                    <nav id='site-top-navbar' class='navbar navbar-default navbar-fixed-top'>
                        {% block navbar %}
                            <div class='pull-left'>
                                <svg id='logo' width='48' height='30' viewbox='0 0 1280 800'>
                                    <g>
                                        <path fill="#FFFFFF" d="M643.1,795c-20.4,0-40.9-1.4-59.6-4.1v-52.9c4-1.4,8.1-3,12.2-5.7c9.1-5.5,12.4-16.3,12.4-24.5V589.2
                                            c0-15.5-10.1-30.4-25.2-37l-0.1-0.1c-26.4-10.6-49.8-27.6-67.6-49.2c-18.4-22.3-30.5-49-34.8-77.3l0-0.2
                                            c-3.5-17.4-15.7-30.3-32-33.5l-113.8-24.6c-1.6-0.3-3.3-0.5-4.9-0.5c-7,0-14.7,2.6-20.7,7.1c-2.9,1.5-4.8,3.1-6.4,5.6h-54.3
                                            c1.9-38.5,7.3-70.8,16.6-98.5l0.2-0.5V280c0-1,0.3-1.8,0.6-2.7h58.7c0.2,1.5,0.7,3.2,1.8,4.5c3.6,8.4,11.9,15.2,20.8,16.9
                                            L462.3,325c2.9,0.6,5.8,0.9,8.5,0.9c13.1,0,25-6.2,33.5-17.6l0.1-0.1l0.1-0.1c14.1-22.3,34.1-40.9,57.8-53.8
                                            c24-13.1,51.4-20,79.3-20c28,0,54.4,6.7,78.7,19.8c23.1,12.5,43.2,30.6,58.4,52.5c7,11.1,19.5,17.7,33.5,17.7
                                            c2.9,0,5.7-0.3,8.6-0.9l114.2-24.7l0.3-0.1c10.8-4.3,17.5-10,20.4-17.3l0.2-0.6v-0.6c0.1-0.2,0.3-0.6,0.4-0.9
                                            c0.1-0.1,0.1-0.2,0.2-0.4h61c10,33.6,15.7,67.1,17.4,102.2h-52.7c-1.4-2.7-3.2-5.3-6.2-7c-5-4.7-11.9-7.4-19.5-7.4
                                            c-2.1,0-4.3,0.2-6.3,0.6L836.2,392c-16.2,3.2-28.4,16.1-31.9,33.5l0,0.2c-4.4,28.7-16.3,55.7-34.3,78.1
                                            c-17.9,22.2-41.4,39.5-68.1,49.9c-15.2,5.1-25.4,20-25.4,37.1v116.9c0,8.7,5,18.9,12,24.2c3.1,3,7.2,4.7,12.6,6.2v52.7
                                            C682.1,793.6,663.1,795,643.1,795z M636.2,705c2.1,0.6,4.2,0.9,6.3,0.9c10.7,0,19.5-7.4,21-17.6c1.8-11-5.6-23.4-16.2-26.9l-0.1,0
                                            c-2.2-0.6-4.4-0.9-6.5-0.9c-10.6,0-19.4,7.3-20.9,17.4c-1.7,6.4-0.8,13,2.6,18.3C625.4,700.9,630.4,704.1,636.2,705z M618.1,622.3
                                            c-2.6,9.7,2.1,22.4,16.2,27.1l0.1,0c2.2,0.6,4.4,0.9,6.5,0.9c10.6,0,19.4-7.3,20.9-17.4c1.7-6.4,0.8-13-2.6-18.3
                                            c-3.2-4.9-8.1-8.1-13.9-9c-2.1-0.6-4.2-0.9-6.3-0.9C628.4,604.9,619.7,612.2,618.1,622.3z M418.5,328.8c-10.6,0-22,8.8-22,22
                                            c0,10.6,8.8,22,22,22c12.7,0,22-9.2,22-22C440.4,340.2,431.6,328.8,418.5,328.8z M842.7,349.5c0.2,10.5,8.9,21.7,22,21.7
                                            c10.6,0,22-8.8,22-22c0-10.6-8.8-22-22-22c-6.7,0-13.2,3-17.6,8.1C843.5,339.6,841.9,344.6,842.7,349.5z M363.1,316.5
                                            c-10.6,0-22,8.8-22,22c0,10.6,8.8,22,22,22c13.1,0,22-11.4,22-22S376.2,316.5,363.1,316.5z M898,337.2c0.1,10.5,8.9,21.7,22,21.7
                                            c10.6,0,22-8.8,22-22c0-10.6-8.8-22-22-22c-7,0-13.4,2.8-17.6,7.6C898.9,326.6,897.3,331.8,898,337.2z"/>
                                        <path d="M641.5,237.8c27.4,0,53.3,6.5,77.1,19.4c22.6,12.2,42.3,29.9,57.1,51.3c7.6,12.1,21.2,19.3,36.4,19.3
                                            c3.1,0,6.2-0.3,9.3-0.9l0.1,0l0.1,0l113.8-24.6l0.6-0.1l0.5-0.2c11.7-4.7,19-11,22.4-19.3l0.1-0.2h55.9
                                            c9.1,31.3,14.5,62.6,16.3,95.2h-46.9c-1.4-2.3-3.3-4.7-6.1-6.4c-5.6-5.2-13.2-8-21.6-8c-2.4,0-4.7,0.2-7,0.7l-0.1,0l-0.1,0
                                            l-113.8,24.6c-17.6,3.5-30.9,17.4-34.7,36.3l0,0.2l0,0.2c-4.3,28.1-15.9,54.6-33.5,76.5c-17.5,21.7-40.5,38.6-66.5,48.8
                                            c-16.6,5.6-27.7,21.8-27.7,40.4v116.9c0,9.7,5.5,20.9,13.2,26.8c3.2,3,7.2,4.9,11.4,6.2v47.1c-17.9,2.5-35.8,3.7-54.5,3.7
                                            c-19.1,0-38.4-1.3-56.1-3.7v-47.4c3.4-1.3,7-2.8,10.6-5.2c10.3-6.3,14-18.3,14-27.5V589.2c0-16.8-10.9-33-27.2-40.2l-0.1-0.1
                                            l-0.1,0c-25.9-10.3-48.8-27-66.2-48.2c-18-21.8-29.8-48-34.1-75.6l0-0.2l0-0.2c-3.8-18.8-17-32.7-34.7-36.3l-113.8-24.6l-0.1,0
                                            l-0.1,0c-1.8-0.4-3.7-0.5-5.6-0.5c-7.6,0-16,2.8-22.6,7.6c-2.7,1.4-4.7,3-6.3,5.1H252c2.1-36.6,7.4-67.4,16.2-93.9l0.4-1.1v-0.3
                                            h53.2c0.4,1,0.8,1.9,1.5,2.8c4.1,9.2,13.2,16.6,23.1,18.6l115.3,26.1l0.1,0l0.1,0c3.1,0.6,6.1,0.9,9.1,0.9
                                            c14.2,0,27.1-6.7,36.3-19l0.2-0.2l0.1-0.2c13.8-21.8,33.4-40,56.5-52.6C587.4,244.5,614.3,237.8,641.5,237.8 M894.5,337.4
                                            c0.1,6.2,2.7,12.3,7.1,17c4.8,5.1,11.4,8,18.4,8c6.3,0,12.7-2.6,17.5-7.1c5.1-4.8,8-11.4,8-18.4c0-6.3-2.6-12.7-7.1-17.5
                                            c-4.8-5.1-11.4-8-18.4-8c-8,0-15.4,3.2-20.3,8.8C895.6,325,893.8,331.1,894.5,337.4 M363.1,363.9c7,0,13.5-2.8,18.4-8
                                            c4.5-4.8,7.1-11.2,7.1-17.5s-2.6-12.7-7.1-17.5c-4.8-5.1-11.4-8-18.4-8c-6.3,0-12.7,2.6-17.5,7.1c-5.1,4.8-8,11.4-8,18.4
                                            c0,6.3,2.6,12.7,7.1,17.5C349.6,361.1,356.1,363.9,363.1,363.9 M839.2,349.8c0.1,6.2,2.7,12.3,7.1,16.9c4.8,5.1,11.4,8,18.4,8
                                            c6.3,0,12.7-2.6,17.5-7.1c5.1-4.8,8-11.4,8-18.4c0-6.3-2.6-12.7-7.1-17.5c-4.8-5.1-11.4-8-18.4-8c-7.7,0-15.3,3.5-20.2,9.4
                                            C840.3,338,838.4,344,839.2,349.8 M418.5,376.2c7.1,0,13.5-2.6,18.2-7.2c4.7-4.7,7.2-11.1,7.2-18.2c0-6.3-2.6-12.7-7.1-17.5
                                            c-4.8-5.1-11.4-8-18.4-8c-6.3,0-12.7,2.6-17.5,7.1c-5.1,4.8-8,11.4-8,18.4c0,6.3,2.6,12.7,7.1,17.5
                                            C405,373.4,411.5,376.2,418.5,376.2 M614.7,621.6c-3,11.2,2.5,25.8,18.5,31.2l0.1,0l0.1,0c2.5,0.7,5,1.1,7.5,1.1
                                            c12.3,0,22.4-8.5,24.4-20.2c1.9-7.3,0.8-14.8-3.1-20.9c-3.7-5.7-9.4-9.4-16.1-10.5c-2.3-0.6-4.7-0.9-7-0.9
                                            C626.8,601.4,616.6,609.9,614.7,621.6 M616.2,677c-1.9,7.3-0.8,14.8,3.1,20.9c3.7,5.7,9.4,9.4,16.1,10.5c2.3,0.6,4.7,0.9,7,0.9
                                            c12.4,0,22.7-8.6,24.4-20.6c2.1-12.9-6.2-26.7-18.6-30.8l-0.1,0l-0.1,0c-2.5-0.7-5-1.1-7.5-1.1C628.3,656.8,618.1,665.3,616.2,677
                                             M641.5,230.8c-58.5,0-110.8,29.2-140,75.4c-7.6,10.2-18.5,16.2-30.7,16.2c-2.5,0-5.1-0.3-7.8-0.8l-115.4-26.2
                                            c-7.7-1.5-15.4-7.7-18.5-15.4c-1.5-1.5-1.5-4.6-1.5-6.2c-26.2,0-41.5,0-64.6,0c0,1.5-1.5,3.1-1.5,6.2
                                            c-10.8,32.3-15.4,67.7-16.9,103.1c23.1,0,38.5,0,60,0c1.5-3.1,3.1-4.6,6.2-6.2c5.1-3.8,12.2-6.6,18.9-6.6c1.4,0,2.8,0.1,4.2,0.4
                                            l113.8,24.6c15.4,3.1,26.2,15.4,29.2,30.8c9.2,60,50.8,107.7,104.6,129.2c13.8,6.2,23.1,20,23.1,33.8v118.5
                                            c0,7.7-3.1,16.9-10.8,21.5c-4.6,3.1-9.2,4.6-13.8,6.2c0,21.5,0,36.9,0,58.5c20,3.1,41.5,4.6,63.1,4.6c21.5,0,41.5-1.5,61.5-4.6
                                            c0-21.5,0-36.9,0-58.5c-6.2-1.5-10.8-3.1-13.8-6.2c-6.2-4.6-10.8-13.8-10.8-21.5V590.8c0-15.4,9.2-29.2,23.1-33.8
                                            c55.4-21.5,95.4-70.8,104.6-130.8c3.1-15.4,13.8-27.7,29.2-30.8l113.8-24.6c1.8-0.4,3.7-0.6,5.6-0.6c6.2,0,12.7,2,17.4,6.7
                                            c3.1,1.5,4.6,4.6,6.2,7.7c21.5,0,35.4,0,58.5,0c-1.5-38.5-7.7-73.8-18.5-109.2c-24.6,0-40,0-66.2,0c0,1.5-1.5,3.1-1.5,4.6
                                            c-3.1,7.7-10.8,12.3-18.5,15.4L820,320c-2.6,0.5-5.3,0.8-7.9,0.8c-12.6,0-24.2-6-30.6-16.2C750.8,260,700,230.8,641.5,230.8
                                            L641.5,230.8z M920,355.4c-10.8,0-18.5-9.2-18.5-18.5c-1.5-10.8,7.7-18.5,18.5-18.5c10.8,0,18.5,9.2,18.5,18.5
                                            C938.5,347.7,929.2,355.4,920,355.4L920,355.4z M363.1,356.9c-10.8,0-18.5-9.2-18.5-18.5c0-10.8,9.2-18.5,18.5-18.5
                                            c10.8,0,18.5,9.2,18.5,18.5C381.5,347.7,373.8,356.9,363.1,356.9L363.1,356.9z M864.6,367.7c-10.8,0-18.5-9.2-18.5-18.5
                                            c-1.5-9.2,7.7-18.5,18.5-18.5c10.8,0,18.5,9.2,18.5,18.5C883.1,360,873.8,367.7,864.6,367.7L864.6,367.7z M418.5,369.2
                                            c-10.8,0-18.5-9.2-18.5-18.5c0-10.8,9.2-18.5,18.5-18.5c10.8,0,18.5,9.2,18.5,18.5C436.9,361.5,429.2,369.2,418.5,369.2
                                            L418.5,369.2z M641,646.9c-1.8,0-3.7-0.3-5.6-0.8c-9.2-3.1-16.9-12.3-13.8-23.1c1.3-8.9,8.8-14.6,17.5-14.6c1.8,0,3.7,0.3,5.6,0.8
                                            c10.8,1.5,16.9,12.3,13.8,23.1C657.2,641.2,649.6,646.9,641,646.9L641,646.9z M642.5,702.3c-1.8,0-3.7-0.3-5.6-0.8
                                            c-10.8-1.5-16.9-12.3-13.8-23.1c1.3-8.9,8.8-14.6,17.5-14.6c1.8,0,3.7,0.3,5.6,0.8c9.2,3.1,15.4,13.8,13.8,23.1
                                            C658.7,696.6,651.2,702.3,642.5,702.3L642.5,702.3z"/>
                                    </g>
                                    <g>
                                        <path fill="#FFFFFF" d="M709.8,744.1c1.5,0,3.1,0,4.6,0c160-33.8,276.9-178.5,276.9-343.1v-1.5c0-1.5,0-4.6,0-6.2h40
                                            c0,3.1,0,4.6,0,7.7c0,187.7-138.5,352.3-321.5,384.6V744.1z"/>
                                        <path d="M1023.6,399.5L1023.6,399.5c0,181.5-130.8,340-306.2,375.4v-26.2C880.5,713.3,999,565.6,999,399.5l0,0L1023.6,399.5
                                             M1037.5,384.1c-23.1,0-38.5,0-58.5,0c3.1,4.6,4.6,9.2,4.6,13.8v1.5c0,164.6-115.4,301.5-270.8,335.4c-1.5,0-3.1,0-4.6,0
                                            s-3.1,0-6.2,0c0,21.5,0,36.9,0,58.5C892.8,764.1,1039,599.5,1039,399.5C1039,394.8,1039,390.2,1037.5,384.1L1037.5,384.1z"/>
                                    </g>
                                    <g>
                                        <path fill="#FFFFFF" d="M573.8,784.1c-183.1-32.3-320-196.9-320-384.6c0-3.1,0-4.6,0-7.7h41.5c0,3.1-1.5,4.6-1.5,7.7
                                            c0,164.6,116.9,309.2,276.9,343.1c1.5,0,3.1,0,3.1,0V784.1z"/>
                                        <path d="M286.1,399.5L286.1,399.5c0,166.2,118.5,313.8,280,349.2v26.2C390.7,739.5,261.5,581,261.5,399.5l0,0H286.1 M306.1,384.1
                                            c-21.5,0-36.9,0-60,0c0,4.6,0,10.8,0,15.4c0,198.5,146.2,363.1,335.4,393.8c0-21.5,0-36.9,0-58.5c-1.5,0-3.1,0-4.6,0s-3.1,0-4.6,0
                                            C418.4,701,301.5,564.1,301.5,399.5l0,0C301.5,394.8,303,388.7,306.1,384.1L306.1,384.1z"/>
                                    </g>
                                    <g>
                                        <path fill="#FFFFFF" d="M963.1,267.7c0-4.6-1.5-9.2-3.1-13.8C903.1,127.7,776.9,47.7,641.5,47.7c-136.9,0-261.5,80-318.5,206.2
                                            c-1.5,4.6-3.1,9.2-3.1,13.8h-46.2c55.4-156.9,201.5-260,367.7-260s312.3,103.1,367.7,260H963.1z"/>
                                        <path d="M641.5,15.4c158.5,0,300,96.9,356.9,244.6h-27.7c0-3.1-1.5-6.2-3.1-9.2C907.7,123.1,780,40,641.5,40
                                            c-140,0-267.7,83.1-326.2,210.8c-1.5,3.1-1.5,6.2-3.1,9.2h-27.7C341.5,112.3,481.5,15.4,641.5,15.4 M641.5,0
                                            C464.6,0,315.4,115.4,263.1,275.4c24.6,0,40,0,64.6,0c-1.5-6.2-1.5-12.3,1.5-18.5C383.1,138.5,503.1,55.4,641.5,55.4
                                            s256.9,81.5,312.3,200c3.1,6.2,3.1,12.3,1.5,18.5c26.2,0,41.5,0,66.2,0C967.7,115.4,816.9,0,641.5,0L641.5,0z"/>
                                    </g>
                                </svg>
                            </div>
                            <a href='{{ path('fsb_alfred_dashboard_homepage') }}' class='navbar-brand'>Alfred</a>
                        {% endblock %}
                    </nav>
                {% endblock %}
                {% block main_container %}
                    {% block pre_wrapper %}{% endblock %}
                    {% block site_content_wrapper %}
                        <section id='site-content-wrapper' class='wrapper container-fluid' {#{% if app.user and app.user.color %}style='background-color: {{ app.user.color }}'{% endif %}#}>
                            {% for type, messages in app.session.flashbag.all %}
                                {% for message in messages %}
                                    <div class='alert alert-{{ type }} alert-dismissable'>
                                        <a href='#' data-dismiss='alert' class='close' aria-hidden='true'>&times;</a>
                                        <div>{{ message|trans }}</div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% block header %}
                                <header id='site-header'>
                                    <h1 id='site-title'>{% block site_title %}Alfred - Your private car butler{% endblock %}</h1>
                                </header>
                            {% endblock %}
                            {% block site_content %}
                                <div class='site-content'>{% block content %}{% endblock %}</div>
                            {% endblock %}
                        </section>
                    {% endblock %}
                {% endblock %}
            </section>
        {% endblock %}
        {% block javascripts %}
            <script src='{{ asset('bundles/fsbalfreddashboard/js/vendor/jquery/jquery-2.1.1.min.js') }}'></script>
            <script src='{{ asset('bundles/fsbalfreddashboard/js/plugins.js') }}'></script>
            <script src='{{ asset('bundles/fsbalfreddashboard/js/vendor/bootstrap/bootstrap-3.2.0.min.js') }}'></script>
        {% endblock %}
    </body>
</html>
