{% extends 'FsbAlfredDashboardBundle::sidebar.html.twig' %}

{% block site_title %}{{ app.user.carName }}{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-lg-9 col-md-8 col-sm-6 col-xs-12'>
            <h4>Statistiques moyennes</h4>
            <div class='table-responsive'>
                <table class='table table-bordered table-hover'>
                    <tbody>
                        <tr>
                            <th>Distance parcourue depuis l'achat</th>
                            <td>{{ drivenDistance|number_format(0, '.', ' ') }} kms</td>
                        </tr>
                        <tr>
                            <th>Consommation moyenne</th>
                            <td>{% if app.user.wouldManageGasoil %}{{ averageConsommation|number_format(2, '.', ' ') }} L / 100kms{% else %}Carburant non pris en charge{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Prix moyen du carburant</th>
                            <td>{% if app.user.wouldManageGasoil %}{{ averageLiterPrice|number_format(3, '.', ' ') }} €{% else %}Carburant non pris en charge{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Coût total de l'autoroute</th>
                            <td>{% if app.user.wouldManageHighway %}{{ highwayTotalCost|number_format(2, '.', ' ') }} €{% else %}Autoroute non prise en charge{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Coût total de l'assurance</th>
                            <td>{% if app.user.wouldManageInsuranceFee %}{{ insuranceFeesTotalCost|number_format(2, '.', ' ') }} €{% else %}Assurance non prise en charge{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Coût total des réparations</th>
                            <td>{% if app.user.wouldManageReparations %}{{ reparationsTotalCost|number_format(2, '.', ' ') }} €{% else %}Réparations non prises en charge{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Coût moyen total au kilomètre</th>
                            <td>{{ averageCost|number_format(2, '.', ',') }} € / km</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
            <h4>Budget</h4>
            <div class='pie-chart-wrapper'>
                <canvas id='global-chart' class='chart'></canvas>
            </div>
        </div>
    </div>
    <div>
        <h3>Vous emmenez des covoitureurs ? <small>Calculez simplement combien chacun vous doit!</small></h3>
        <form id='trip-cost-form' class='form-inline'>
            <div class='form-group'>
                <label for='kilometers'>Kilomètres</label>
                <input id='kilometers' v-model='kilometers' class='form-control' type='number' name='kilometers' placeholder='100' />
            </div>
            <div class='form-group'>
                <label for='carPoolers'>Covoitureurs</label>
                <input id='carPoolers' v-model='carPoolers' class='form-control' type='number' name='carPoolers' placeholder='3' />
            </div>
            <div class='form-group'>
                <span>Prix pour chacun : <span id='trip-cost' class='badge'>{% raw %}{{ (kilometers * kilometerCost / carPoolers) | rounded2 }}€{% endraw %}</span></span>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/fsbalfreddashboard/js/vendor/vue-0.10.6.min.js') }}'></script>
    <script src='{{ asset('bundles/fsbalfreddashboard/js/vendor/numeral-1.5.3.min.js') }}'></script>
    <script>
        Vue.filter('rounded2', function (value) {
            return numeral(value).format('0.00');
        });
        new Vue({
            el: '#trip-cost-form',
            data: {
                kilometerCost: {{ averageCost|number_format(2, '.', '') }},
                kilometers: 100,
                carPoolers: 3
            }
        });
    </script>
    <script src='{{ asset('bundles/fsbalfreddashboard/js/vendor/chart.js') }}'></script>
    <script>
        Chart.defaults.global.responsive = !0;
        var $canvas = $('#global-chart'), data = [], context, globalChart;
        $canvas.prop({
            width: $canvas.parent().width(),
            height: 200
        });
        context = $canvas.get(0).getContext('2d');
        {% if app.user.wouldManageGasoil %}
            data.push({
                value: {{ gasoilTotalCost|number_format(2, '.', '') }},
                color: 'rgba(34, 49, 63, 0.15)',
                highlight: 'rgba(34, 49, 63, 0.85)',
                label: 'Carburant'
            });
        {% endif %}
        {% if app.user.wouldManageHighway %}
            data.push({
                value: {{ highwayTotalCost|number_format(2, '.', '') }},
                color: 'rgba(34, 49, 63, 0.15)',
                highlight: 'rgba(34, 49, 63, 0.85)',
                label: 'Autoroute'
            });
        {% endif %}
        {% if app.user.wouldManageInsuranceFee %}
            data.push({
                value: {{ insuranceFeesTotalCost|number_format(2, '.', '') }},
                color: 'rgba(34, 49, 63, 0.15)',
                highlight: 'rgba(34, 49, 63, 0.85)',
                label: 'Assurance'
            });
        {% endif %}
        {% if app.user.wouldManageReparations %}
            data.push({
                value: {{ reparationsTotalCost|number_format(2, '.', '') }},
                color: 'rgba(34, 49, 63, 0.15)',
                highlight: 'rgba(34, 49, 63, 0.85)',
                label: 'Réparations'
            });
        {% endif %}
        globalChart = new Chart(context).Pie(data, {
            responsive: true,
            maintainAspectRatio: true,
            tooltipFillColor: 'rgba(0, 0, 0, 0.95)',
            tooltipTemplate: {% raw %}'<%if (label){%><%=label%>: <%}%><%= value %>€'{% endraw %},
            tooltipEvents: ['mousemove', 'mousedown', 'touchstart', 'touchmove'],
            animationEasing: 'easeOutCirc'
        });
    </script>
{% endblock %}
