{% extends 'FsbAlfredDashboardBundle::sidebar.html.twig' %}

{% form_theme form 'FsbAlfredDashboardBundle:Form:bootstrap.html.twig' %}

{% block site_title %}{{ app.user.carName }} - Trajets{% endblock %}

{% block content %}
    <ul class='nav nav-tabs'>
        <li class='active'><a href='#list' data-toggle='tab' class='btn btn-default'>Liste</a></li>
        <li><a href='#form' data-toggle='tab' class='btn btn-default'>Ajouter</a></li>
        <li><a href='#statistiques' data-toggle='tab' class='btn btn-default'>Statistiques</a></li>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane active table-responsive' id='list'>
            <h4>Liste des trajets</h4>
            <table class='table table-hover table-condensed table-bordered table-static'>
                <thead>
                    <tr>
                        <th>Trajet</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% if highways %}
                        {% for highway in highways %}
                            <tr>
                                <td>{{ highway.journey }}</td>
                                <td>{{ highway.price|number_format(2, '.', ',') }} €</td>
                            </tr>
                        {% endfor %}
                        <tr class='total info'>
                            <td>Total</td>
                            <td>{{ totalPrice }}</td>
                        </tr>
                    {% else %}
                        <tr class='active'>
                            <td colspan='2'>Aucun trajet pour le moment</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class='tab-pane' id='form'>
            <h4>Renseigner un trajet autoroutier</h4>
            <form action='{{ path('fsb_alfred_dashboard_page_highway_create') }}' method='post' {{ form_enctype(form) }}>
                <div class='row'>
                    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                        {{ form_row(form.journey) }}
                    </div>
                    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                        {{ form_row(form.price) }}
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class='form-group'>
                    <input type='submit' class='btn btn-success' name='submit' value='Ajouter' />
                </div>
            </form>
        </div>
        <div class='tab-pane' id='statistiques'>
            <h4>Statistiques <b class='pull-right'>Prix moyen <span class='badge badge-info'>{{ totalPrice / highways|length }} €</span></b></h4>
            <hr />
            <canvas id='insurance-fee-chart' class='chart'></canvas>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/fsbalfreddashboard/js/vendor/underscore-1.6.0.min.js') }}'></script>
    {% if highways|length > 1 %}
        <script src='{{ asset('bundles/fsbalfreddashboard/js/vendor/chart.js') }}'></script>
        <script>
            $(function () {
                var context = $('#insurance-fee-chart').get(0).getContext('2d'),
                    highwayChart = new Chart(context).Line({
                        'labels': [
                            {% for highway in highways %}
                                '{{ highway.createdAt|date('d-m-Y') }}'{% if not loop.last %},{% endif %}
                            {% endfor %}
                        ],
                        'datasets': [
                            {
                                'label': 'Montant',
                                'fillColor': 'rgba(220,220,220,0.2)',
                                'strokeColor': 'rgba(220,220,220,1)',
                                'pointColor': 'rgba(220,220,220,1)',
                                'pointStrokeColor': '#ccc',
                                'pointHighlightFill': 'rgb(0, 0, 0)',
                                'pointHighlightStroke': 'rgba(220,220,220,1)',
                                'data': [
                                    {% for highway in highways %}{{ highway.price|number_format(2, '.', ',') }}{% if not loop.last %},{% endif %}{% endfor %}
                                ]
                            }
                        ]
                    }, {
                        maintainAspectRatio: true,
                        scaleFontColor: 'rgb(255,255,255)',
                        scaleLabel: "<%=value%> €",
                        tooltipFillColor: 'rgba(0, 0, 0, 0.95)',
                        tooltipEvents: ["mousemove", "mousedown", "touchstart", "touchmove"]
                    });
            });
        </script>
    {% endif %}
{% endblock %}
