{% extends 'FsbAlfredDashboardBundle::sidebar.html.twig' %}

{% block stylesheets %}
    {{  parent() }}
    <link rel='stylesheet' href='{{ asset('bundles/fsbalfreddashboard/css/vendor/bootstrap/bootstrap-colorpicker.min.css') }}' />
{% endblock %}

{% form_theme form 'FsbAlfredDashboardBundle:Form:bootstrap.html.twig' %}

{% block site_title %}{{ app.user.carName }}{% endblock %}

{% block content %}
    <form action='{{ path('fsb_alfred_dashboard_page_profile') }}' method='post' {{ form_enctype(form) }}>
        <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                {{ form_row(form.username) }}
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                {{ form_row(form.carName) }}
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                {{ form_row(form.color) }}
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                {{ form_row(form.initialKilometers) }}
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                {{ form_row(form.currentKilometers) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class='form-group'>
            <input type='submit' class='btn btn-success' name='submit' value='Editer' />
            <a href='{{ path('fsb_alfred_dashboard_page_edit_password') }}' class='btn btn-info'>Modifier le mot de passe</a>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/fsbalfreddashboard/js/vendor/bootstrap/bootstrap-colorpicker.min.js') }}'></script>
    <script src='{{ asset('bundles/fsbalfreddashboard/js/profile.js') }}'></script>
{% endblock %}
